.cardProductos{
    text-align: center;
    border: solid 1px black;
    border-radius: 15px;
    height: 350px;
    max-width: 500px;
    background-color: honeydew;
    box-shadow: 8px -1px teal;
}

.cardProductos:hover{
    transform: scale(1.03);
}

.img{
    width: 15vw;
    height: 10vw;
    border: solid black 0.7px;
    border-radius: 10px;
}