.barra{
    background-color: rgb(34, 34, 34);
    height: 70px;
    border-radius: 20px;
    position: sticky;   
    top:0;
}

.contenido{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: #1dbab4;
}

span{
   color:#1dbab4;
}

.logo{
    height: 70px;
    justify-self: flex-start;
}