.containerBotones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addCart{
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
}

.itemCount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 95px;
    background-color: black ;
    color: white;
    border-radius: 10px;
}

.parra{
    padding-top: 13px;

}